--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
requests
langchain
langchain-community
langchain-openai
langchain-core
faiss-cpu
openai
tiktoken
python-dotenv
sentence-transformers
huggingface-hub
